<div class="class-about-background-image">

    <img src="../../assets/backround-pictures/Tyu.jpg"
         class="class-about-background-image"
         alt="">

    <mat-card class="class-card-position">

        <mat-card-title class="vision-title">Our Vision</mat-card-title>

        <mat-card-content>
            <p class="vision"><em> We aim to provide best equipment for gamers </em></p>
             <img width="150" src="../../assets/logo's/Trophy-removebg-preview.png" alt="">
           
        </mat-card-content>

    </mat-card>
</div>