<div class="card class-card-form">
     <mat-card>
         <mat-card-title>Login</mat-card-title>
   
      
     
         <form action="">
         <mat-card-content>

         <mat-form-field class="class-form-input">
             <mat-label>
                 Email
             </mat-label>
            <input matInput type="text" placeholder="pat@gmail.com">

           
           
         </mat-form-field >
         
         <mat-form-field  class="class-form-input">
            <mat-label>
                Password
            </mat-label>
           <input matInput type="passwords" placeholder="">

          
          
        </mat-form-field>
        
         </mat-card-content>

        </form>
    </mat-card>
</div>