

.nav-link {
  font-size: large;
}

button{
  color: green;
}

.class-title{
  text-align: left;
  color: White;
  font-size: 2.5em;
  padding: 5px;
}

mat-tab-group{
  margin: 0 20em;
}

mat-tab{
  -webkit-box-shadow: -32px 12px 112px -41px rgba(0,0,0,0.5);
-moz-box-shadow: -32px 12px 112px -41px rgba(0,0,0,0.5);
box-shadow: -32px 12px 112px -41px rgba(0,0,0,0.5);
}

