

<mat-card class="mat-Position">
<p matCardTitle  class="class-title">{{productTitle}}</p>

<div id="inputFilter"> 
    <mat-form-field id="">
    <label for="filter">filter by:</label>
        <input matInput placeholder="" 
        [(ngModel)]="listFilter" >
       
    </mat-form-field>
    <p id="filter">Filtered by: {{listFilter}} </p>

</div>



    
<table class="table">

    <thead>      <!-- <input type="button" class="btn btn-primary" value="Show imaages"> -->
  
        <th  >

            <mat-slide-toggle (click)="toogleImg()"  color= 'warm'> 
                {{showImages ? 'hide': 'show' }} images
            </mat-slide-toggle>

        

        </th>
        <th>Product</th>
        <th>Available</th>
        <th>code</th>
        <th>Price</th>
        <th>5 Star Rarting</th>
    </thead>
  
        


    <tr *ngFor='let prod of filteredProducts'>
        <td> <img *ngIf='showImages'[src]='prod.imageUrl' [title]='prod.productName | uppercase'
            width="150"
            height="150"
            > </td>
      <td>{{prod.productName}}</td>
      
      <td>{{prod.releaseDate}}</td>
      
      <td>{{prod.productCode | lowercase |convertToSpace:'-' }}</td>
      
      <td>{{prod.price |currency:'ZAR': 'symbol-narrow':'1.2-2'}}</td>
      <!-- <td>{{prod.starRating}}</td> -->
      <td><pm-star [rating] = 'prod.starRating'></pm-star></td>

    </tr>
    

</table>
</mat-card>
