* {
    margin: 0;
    padding: 0;



}



.carousel-position {
    position: absolute;
    top: -100em;
    left: 0;
}


.carousel-item{
    height: 2em;
    padding: auto auto;
    width: 50%;
    
}
.coursel-pos{
  width: 50%;
  height: 15em;
  margin: 0 auto;
  position: relative;
  top: 15em;
}
/* .carousel-control-prev{
    width: 100%;
} */

.carousel-item {

    margin-top: 1em;
    height: 10vh;
    min-height: 30px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .carousel-caption {
    /* bottom: 350px; */
    /* top: 0; */
  }
  
  .carousel-caption h5 {
    color: #fff;
    background:radial-gradient(#29323c , #485563);
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    /* margin-top: 10em; */
    opacity: .5;
    border-radius: 15px;
    padding: .5em;
    transition: opacity 530ms ease-out;
  }

  .carousel-item h5:hover{
      opacity: 1;
  }

  .carousel-item a {
      color: #fff;
      text-decoration: underline;
    
  }
  
  .carousel-caption p {
    color: #fff;
    background-color: #485563;
    width: 100%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
    margin-top: 11em;
  }
  

  .imgTitle{
    color: #485563;
  }