* {
    margin: 0;
    padding: 0;



}


.coursel-pos{
  width: 50%;
  height: 15em;
  margin: 0 auto;
  position: relative;
  top: 15em;
}
  

.imgTitle{
  color: #485563;
  font-size: 20px;
  margin-bottom: 1.0em;
}
.class-product-img{

padding: 2em;


}
.class-btn-shop{
  width: 50%;
  font-size: 1.5em;
}

.card {
  width: 60%;
  height: 60%;
  /* background-image: linear-gradient(to left bottom, #e5e7e6, #dbe2df, #d1ddd8, #c7d8d2, #bcd3cc); */
  background-image: radial-gradient(circle, #a3e1c2, #8bdfb7, #70dcac, #4ed9a1, #07d697);
}