<mat-card *ngFor=' let product of products'>

    <mat-card-header>

        <mat-card-title>

            {{product.productName}}
        </mat-card-title>

        <mat-card-subtitle>
           
        </mat-card-subtitle>



    </mat-card-header>

    <img [src]='product.imageUrl'
         [title]='product.productName'
         [alt]="product.productName"
         width="250"
         height="250">
    <mat-card-content>

        <p>

            {{product.description}}

        </p>

        <span> Rating<pm-star [rating]='product.starRating'> </pm-star>
        </span>
        <span class="price">{{product.price |currency:'ZAR': 'symbol-narrow':'1.2-2'}}</span>
    </mat-card-content>

    <mat-dialog-actions>
        <button mat-button
                mat-dialog-close>Cancel</button>
        
        <button mat-button>Add to Cart</button>

    </mat-dialog-actions>


</mat-card>